:root {
  --black: #1c1d1f;
  --medium: #8d9fb7;
  --white: #ffffff;
  --blue-dark: #004199;
  --blue-dark: #004199;
  --blue: #006cfe;
  --blue05: #80b6ff;
  --blue-light: #d5e7ff;
  --blue-super-light: #edf5ff;
  --green: #01aa88;
  --red: #ff0000;
  --orange: #ffa200;
  --font-size-1: 32px;
  --font-size-2: 24px;
  --font-size-3: 16px;
  --font-size-4: 14px;
  --font-size-5: 12px;
  --font-size-6: 11px;
  --font-weight-1: 500;
  --font-weight-2: 200;
}
